@import "../node_modules/bootstrap/scss/bootstrap";

$font-stack: 'Dosis', sans-serif;

$primary-color: #f7E8A4;
$secondary-color: #0091Ad;
$tertiary-color: #CC007A;
$default-color: #FFF;

body {
    min-height: 100vh;
    font-family: $font-stack;
}

h1,
h2 {
    font-family: $font-stack;
}

.logoBorderRadius {
    border-radius: 50%;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.navbar {
    font-family: $font-stack;
    background-color: $default-color;
}



/* Header Content  */
.info-bar {
    margin-bottom: 2em;
}

.title {
    align-content: center;
}

header {
    margin-bottom: 2em;
}

.header-message {
    line-height: 20px;
    margin: 0;
    font-family: 'Dosis', sans-serif;

}

.header-search {
    text-align: right;
    background-color: transparent;
}

.header-search__wrapper {
    position: absolute;
    top: -3px;
    right: 15px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.search {
    max-width: 100%;
    margin-bottom: 0;
    display: block;
}

.form {
    display: block;
    margin-top: 0em;
}

.header-search .search-bar {
    position: relative;
    z-index: 100;
    height: 26px;
    color: #f3f3f3;
    font-size: 16px !important;
    padding: 0 25px 0 0;
    text-align: right;
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    width: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

input[type=text],
input[type=search],
input[type=password],
input[type=email],
input[type=file],
input[type=number],
input[type=tel],
input[type=url],
textarea,
select {
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 0 1em;
    background-color: transparent;
    outline: none;
}

.header-search .search-btn {
    position: absolute;
    top: 0;
    right: 0px;
    height: 26px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 23px;
    background: url(//cdn.shopify.com/s/files/1/0080/4559/2661/t/6/assets/search.svg?v=6955923…);
    background-repeat: no-repeat;
    background-position: right 3px center;
}

// body section

.categories-container,
.featured-container,
.social-container {
    margin-bottom: 4em;
    margin-top: 4em;
}