@import "../node_modules/bootstrap/scss/bootstrap";


// Fonts
$font-stack: 'Dosis', sans-serif;



// Color classes
$primary-color: #f7E8A4;
$secondary-color: #0091Ad;
$tertiary-color: #CC007A;
$default-color: #FFF;

.default-color {
    background-color: $default-color;
}

.primary-color {
    background-color: $primary-color;
}

.sec-color {
    background-color: $secondary-color;
}


// General Styles
body {
    min-height: 100vh;
    max-width: 1920px;
    font-family: $font-stack;
    overflow-y: auto;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

h1,
h2 {
    font-family: $font-stack;
}

.spacer {
    margin-top: 150px;
}

// Header Content

.header-message {
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 20px;
    font-family: $font-stack;

}

.navbar {
    font-family: $font-stack;
    background-color: $default-color;
}

// body section