@import "../node_modules/bootstrap/scss/bootstrap";


// Fonts
$font-stack: 'Dosis', sans-serif;



// Color classes
$primary-color: #f7E8A4;
$secondary-color: #0091Ad;
$tertiary-color: #CC007A;
$default-color: #FFF;




// General Styles
body {
    min-height: 100vh;
    max-width: 1920px;
    font-family: $font-stack;
    overflow-y: auto;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

h1,
h2 {
    font-family: $font-stack;
}

.spacer {
    margin-top: 75px;
}

.category-container {
    position: relative;
    width: 50%;
}

.category-container img {
    width: 100%;
    height: auto;
}

.category-container .category-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $secondary-color;
    color: white;
    font-size: 16px;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.category-container .category-btn:hover {
    background-color: black;
}


// Header Content

.header-message {
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 20px;
    font-family: $font-stack;
}

.navbar {
    font-family: $font-stack;
}

// body section